
<div class="container">
    <img src="static/app/images/portada.jpg" alt="portada aplven">
   <!--  <img src="../../../assets/img/portada.jpg" alt="portada aplven"> LOCAL-->

    <div class="contenedor-abajo text-center">
        <div class="row pt-3">
            <div class="col-3"></div>
            <div class="col-8 text-left">
                <p class="p1">Seleccione aplicación:</p>
            </div>
            <div class="col-1"></div>
        </div>

        <div class="row">
            <div class="col-3"></div>

            <!-- LOCAL -->
<!--             <div class="col-9 text-left">
                <select #aplicacion id="navigation" size="5" value="ventas" required>
                    <option id="global" value="ventas">
                    Ventas acceso global 
                    </option>
                    <option id="territorial" value="territorial" >
                        Ventas territorial
                    </option>
                    <option id="vidacaixa" value="vidacaixa" >
                        Ventas VidaCaixa
                    </option>
                    <option id="segurcaixa" value="segurcaixa">
                        Ventas SegurCaixa
                    </option>
                </select>
            </div> -->
            <div class="col-9 text-left">
                <select #aplicacion id="navigation" size="{{size}}" value="ventas" required>
                    <option id="global" value="ventas" *ngIf="isAdministrador || isBiuser">
                    Ventas acceso global 
                    </option>
                    <option id="territorial" value="territorial" *ngIf="isAdministrador || isJerarquico">
                        Ventas territorial
                    </option>
                    <option id="vidacaixa" value="vidacaixa" *ngIf="isAdministrador || isVidacaixa">
                        Ventas VidaCaixa
                    </option>
                    <option id="segurcaixa" value="segurcaixa" *ngIf="isAdministrador || isSegurcaixa">
                        Ventas SegurCaixa
                    </option>
                </select>
            </div> 


        </div>

         <br>

        <button type="button" class="btn btn-app" (click)="openApp(aplicacion.value)"> <span> Acceder a la aplicación</span></button>
        <div class="aler" *ngIf="selApp">
            Debe seleccionar una aplicación
          </div>

        
    </div>

</div>
