nav{
    margin-left: 225px;
    transition: 0.5s;
    padding-bottom: 0;
    padding-top: 0;
    padding-right: 6px;
    z-index: 10;
}
.nav-item{
    cursor: pointer;
}

.logo-min{
    display: block;
}
.logo-li{
    display: none;
    padding: 0;
}
@media (min-width: 992px) {
    .flex-column {
        display: inline !important;
    }
    .logo-min{
        display: none;
    }
    .logo-li{
        display: block;
    }
    .navbar-nav {
        margin-top: 4px;
    } 
    nav{
        max-height: 154px;
    }
  }

#title{
    margin-left: 10px;
    font-size: x-large;
}

img.img-logo {
    height: 45px;
    cursor: pointer;
    margin-left: 15px;
}


.row{
    max-width: 100%;
}

.pestanyero{
    margin-top: 0 !important;
}
.pestanyero .nav-link{
display: inline-block;
margin-bottom: 0px;
padding: 10px;
padding-left: 20px;
padding-right: 20px;
border-bottom: 2px solid #f8f9fa;  
border-radius: 1px;
font-size: 14px;
font-weight: bold;
}
.pestanyero .nav-item{
    margin-bottom: 0px;
    padding-bottom: 0;
}
.pestanyero .nav-link:hover{
    color: #1c82a8;
    border-bottom: 2px solid #1c82a8;
    transition: 0.5s ease-in-out;

}
.pestanyero .active{
    color: #1c82a8;
    border-bottom: 2px solid #1c82a8;
    transition: 0.5s ease-in-out;
}

.topmenu-icon{
    margin-right: 4px;
}

.navbar-nav{
    flex-direction: row;
    margin-top: 14px;
} 

.form-select{
    padding: 8px;
    border: 2px solid #1c82a8;
    border-radius: 2px;
    color: white;
    background-color: #1c83a8;
}

.hasta{
    border-left: 1px solid rgba(99, 99, 99, 0.7);
    border-right: 1px solid rgba(99, 99, 99, 0.7);
}
.lihasta{
    padding: 0;
}