<i class="fa fa-filter" (click)="openFiltersView()"></i>
<i class="fa fa-reply" (click)="backFilter()" title="Retroceder filtro" [ngClass]="{'disabled': backDisabled,'': !backDisabled}"></i>
<i class="fa fa-share" (click)="forwardFilter()" title="Avanzar filtro" [ngClass]="{'disabled': forwardDisabled,'': !forwardDisabled}"></i>
<i class="fa" (click)="openQlikApp()" title="Ir a la aplicación de Ventas en QlikSense" *ngIf="autoserviceEnabled()"> <img src="static/app/images/logo_qlik.png" style="width:20px; height:20px;"> </i>

<i class="fa fa-question-circle" title="Abrir Manual de Ayuda" (click)="openHelp()"></i>

<!-- Bookmark -->
<div class="dropdown">
  <i class="fa fa-bookmark" title="Ver Mis Marcadores" (click)="openCloseBookmark()"></i>
  <div class="dropdown-menu dropdown-bookmark" (mouseleave)="onBookmarkContainerLeave()">
    <div class="bookmark-header">
      <span class="labelMarcadores">Marcadores:</span>
        <i class="far fa-plus-square" title="Crear Marcador" (click)="openAddBookmark()"></i>
        <i class="far fa-minus-square" title="Cerrar formulario" (click)="closeAddBookmark()"></i>
    </div>

    <div id="bookmark-add-container">
      <form>
        <div class="form-row">
          <div class="col-9">
            <input #nameNewBookmark class="form-control" placeholder="Nombre..." type="search" autocomplete="off" >
          </div>
          <div class="col-3">
            <i class="fas fa-check-square" title="Añadir Marcador" (click)="createBookmark(nameNewBookmark.value)"></i>
          </div>
        </div>
      </form>
    </div>

    <div id="bookmark-list" *ngFor="let bookmark of bookmarkData; let i = index">
      <div class="bookmarkItem" (mouseenter)="onRemoveBookmarkEnter(i)" (mouseleave)="onRemoveBookmarkLeave(i)">
        <p class="bookmark-names" title="Cargar {{bookmark.name}}" (click)="loadBookmark(bookmark.id)">{{bookmark.name}}</p>
        <i class="far fa-trash-alt" (click)="removeBookmark(bookmark.id)" title="Borrar {{bookmark.name}}"></i>
        <i class="far fa-save" (click)="updateBookmark(bookmark)" title="Actualizar {{bookmark.name}}"></i>
      </div>
      <div class="dropdown-divider" *ngIf="bookmarkData.length > 1 && bookmarkData.length-1 != i"></div>
    </div>


  </div>
</div>



<div class="dropdown">
    <i class="fas fa-caret-square-down" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="getPage()"></i>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" (click)="openApp('ventas')" *ngIf="page!='ventas'">Global</a>
      <a class="dropdown-item" (click)="openApp('territorial')" *ngIf="page!='territorial'">Territorial</a>
      <a class="dropdown-item" (click)="openApp('vidacaixa')" *ngIf="page!='vidacaixa'">VidaCaixa</a>
      <a class="dropdown-item" (click)="openApp('segurcaixa')" *ngIf="page!='segurcaixa'">SegurCaixa</a>
    </div>
  </div>
