<i class="fa fa-filter"></i>
<i class="fa fa-reply"></i>
<i class="fa fa-share"></i>
<i class="fa fa-eraser"></i>
<i class="fa fa-question-circle"></i>
<i class="fa fa-bookmark"></i>
<div class="dropdown">
    <i class="fas fa-caret-square-down" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" >Global</a>
      <a class="dropdown-item" >Territorial</a>
      <a class="dropdown-item" >VidaCaixa</a>
      <a class="dropdown-item" >SegurCaixa</a>
    </div>
  </div>
