/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 225px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 10; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #1c82a8; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 10px;
    transition: 0.5s;
    overflow: visible !important;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .seleccionesLabel, .filtrosLabel {
    color: white;
    max-width: 175px;
    border-bottom: 1px solid white;
    padding-bottom: 8px;
    margin: 0 16px 4px 16px !important;
  }

  #selecciones{
    overflow-y:auto;
    overflow-x:hidden;
    height: 35%;
  }
.fa-caret-right{
  transition: 0.2s;
}
  .fa-bars.active{
    transform: rotate(90deg);
    transition: 0.5s;
}
.fa-bars{
    padding: 10px;
    font-size: large;
    cursor: pointer;
    color: white;
}

.fa-bookmark, .fa-check-square{
 color: white;
}

#cerrado{
  display: none;
  margin-top: 20px;
  cursor: pointer;
}
#abierto{
  height: 100%;
}

.burguer{
  position: absolute;
  right: 0;
  top: 4px;
}

.fa-eraser{
  margin-left: 60px;
}
/* Filtros */
.ulsidebar{
  padding: 0 8px 8px 8px;
}
#filtros{
  overflow-y:auto;
  max-height: 48%;
  
}

.card-header{
  padding: 0;
  background-color: #1c82a8;
  color: white;
  border-left: 2px solid white;
  margin-left: 6px;
}
.card-header:hover{
  background-color: #1f7899;
}
.card-body{
  padding: 0 4px 0 30px;
  background-color: #1c82a8;
  color: white !important;
  height: 25px;  
  overflow: hidden;
}
.card{
  background-color: #1c82a8;
  border: none;
  border-radius: 0;
}
.btn{
  padding-top: 0;
  padding-bottom: 0;
}

#selecciones .col-1:hover{
  cursor: pointer;
  color: rgb(206, 209, 0);
}
.fa-eraser:hover{
  cursor: pointer;
  color: rgb(206, 209, 0);
}
.liSeleccion{
  height: 25px;
}

  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }