<!-- Side navigation -->
<div class="sidenav" id="sidebar">

    <div class="text-right burguer">
        <i class="fas fa-bars" id="burguer" (click)="expandir()"></i>
    </div> 


    <!-- Cuando sidebar esta cerrado -->
    <div id="cerrado" (click)="expandir()">
        <i class="far fa-check-square m-3"></i> <br>
        <i class="far fa-bookmark m-3"></i>
    </div>

    <!-- Cuando sidebar esta abierto -->
    <div id="abierto">
      <p class="seleccionesLabel m-3"> <i class="far fa-check-square m-1"></i>Selecciones<i class="fa fa-eraser" (click)="clearSelections()" title="Borrar todos los filtros"></i></p> 
        <div id="selecciones">
          <ul class="text-light ulsidebar" *ngIf="selecciones.length > 0">
            <li *ngFor="let seleccion of selecciones;" > 
              <div class="row">
                <div class="col-8 pr-0"><div id="sel{{seleccion.fieldName | lowercase}}" style="width: 150px !important; height: 20px;" ></div></div>
                <div class="col-3 p-0">{{seleccion.selectedCount}} de {{seleccion.totalCount}}</div>
                <div class="col-1 pl-0" (click)="removeFilter(seleccion.fieldName)"><i class="fas fa-times" ></i></div>
              </div>
              
              
              
            </li>
          </ul>
          <p *ngIf="selecciones.length == 0" class="text-light pl-3 mt-3">Nada Seleccionado</p>

        </div>
        <p class="filtrosLabel m-3"> <i class="far fa-bookmark m-1"></i>Filtros</p>
        <div id="filtros">

            <div class="accordion" id="accordionFiltros">
                <div class="card">
                  <div class="card-header" id="headingFecha" data-toggle="collapse" data-target="#collapseFecha" aria-expanded="true" aria-controls="collapseFecha" (click)="loadFilter('fecha')">
                    <p class="mb-0">
                      <button class="btn text-light" type="button" >
                        <i class="fas fa-caret-right"></i> Fecha
                      </button>
                    </p>
                  </div>
              
                  <div id="collapseFecha" class="collapse" aria-labelledby="headingFecha" data-parent="#accordionFiltros">
                    <div *ngIf="filter == 'fecha'">
                      <div *ngFor="let filtro of filtrosOpen;" id="{{filtro.div}}" class="card-body"> </div>
                    </div>
                  </div>
                </div>
                
                <div class="card">
                  <div class="card-header" id="headingVentas" data-toggle="collapse" data-target="#collapseVentas" aria-expanded="false" aria-controls="collapseVentas" (click)="loadFilter('ventas')">
                    <p class="mb-0">
                      <button class="btn collapsed text-light" type="button" >
                        <i class="fas fa-caret-right"></i> Ventas
                      </button>
                    </p>
                  </div>
                  <div id="collapseVentas" class="collapse" aria-labelledby="headingVentas" data-parent="#accordionFiltros">
                    <div *ngIf="filter == 'ventas'">
                      <div *ngFor="let filtro of filtrosOpen;" id="{{filtro.div}}" class="card-body"> </div>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="headingCentros" data-toggle="collapse" data-target="#collapseCentros" aria-expanded="false" aria-controls="collapseCentros" (click)="loadFilter('centros')">
                    <p class="mb-0">
                      <button class="btn collapsed text-light" type="button" >
                        <i class="fas fa-caret-right"></i> Centros
                      </button>
                    </p>
                  </div>
                  <div id="collapseCentros" class="collapse" aria-labelledby="headingCentros" data-parent="#accordionFiltros">
                    <div *ngIf="filter == 'centros'">
                      <div *ngFor="let filtro of filtrosOpen;" id="{{filtro.div}}" class="card-body"> </div>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="headingProductos" data-toggle="collapse" data-target="#collapseProductos" aria-expanded="false" aria-controls="collapseProductos" (click)="loadFilter('productos')">
                    <p class="mb-0">
                      <button class="btn collapsed text-light" type="button" >
                        <i class="fas fa-caret-right"></i> Productos
                      </button>
                    </p>
                  </div>
                  <div id="collapseProductos" class="collapse" aria-labelledby="headingProductos" data-parent="#accordionFiltros">
                    <div *ngIf="filter == 'productos'">
                      <div *ngFor="let filtro of filtrosOpen;" id="{{filtro.div}}" class="card-body"> </div>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="headingClientesdb" data-toggle="collapse" data-target="#collapseClientesdb" aria-expanded="false" aria-controls="collapseClientesdb" (click)="loadFilter('clientesdb')">
                    <p class="mb-0">
                      <button class="btn collapsed text-light" type="button" >
                        <i class="fas fa-caret-right"></i> Cli. - Datos Básicos
                      </button>
                    </p>
                  </div>
                  <div id="collapseClientesdb" class="collapse" aria-labelledby="headingClientesdb" data-parent="#accordionFiltros">
                    <div *ngIf="filter == 'clientesdb'">
                      <div *ngFor="let filtro of filtrosOpen;" id="{{filtro.div}}" class="card-body"> </div>
                    </div>
                  </div>
                </div>
                
                <div class="card">
                  <div class="card-header" id="headingClientesms" data-toggle="collapse" data-target="#collapseClientesms" aria-expanded="false" aria-controls="collapseClientesms" (click)="loadFilter('clientesms')">
                    <p class="mb-0">
                      <button class="btn collapsed text-light" type="button" >
                        <i class="fas fa-caret-right"></i> Cli. - Marca Segment.
                      </button>
                    </p>
                  </div>
                  <div id="collapseClientesms" class="collapse" aria-labelledby="headingClientesms" data-parent="#accordionFiltros">
                    <div *ngIf="filter == 'clientesms'">
                      <div *ngFor="let filtro of filtrosOpen;" id="{{filtro.div}}" class="card-body"> </div>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="headingClientesn" data-toggle="collapse" data-target="#collapseClientesn" aria-expanded="false" aria-controls="collapseClientesn" (click)="loadFilter('clientesn')">
                    <p class="mb-0">
                      <button class="btn collapsed text-light" type="button" >
                        <i class="fas fa-caret-right"></i> Cli. - Negocio
                      </button>
                    </p>
                  </div>
                  <div id="collapseClientesn" class="collapse" aria-labelledby="headingClientesn" data-parent="#accordionFiltros">
                    <div *ngIf="filter == 'clientesn'">
                      <div *ngFor="let filtro of filtrosOpen;" id="{{filtro.div}}" class="card-body"> </div>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="headingClientess" data-toggle="collapse" data-target="#collapseClientess" aria-expanded="false" aria-controls="collapseClientess" (click)="loadFilter('clientess')">
                    <p class="mb-0">
                      <button class="btn collapsed text-light" type="button" >
                        <i class="fas fa-caret-right"></i> Cli. - Segmento
                      </button>
                    </p>
                  </div>
                  <div id="collapseClientess" class="collapse" aria-labelledby="headingClientess" data-parent="#accordionFiltros">
                    <div *ngIf="filter == 'clientess'">
                      <div *ngFor="let filtro of filtrosOpen;" id="{{filtro.div}}" class="card-body"> </div>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="headingEmpleados" data-toggle="collapse" data-target="#collapseEmpleados" aria-expanded="false" aria-controls="collapseEmpleados" (click)="loadFilter('empleados')">
                    <p class="mb-0">
                      <button class="btn collapsed text-light" type="button" >
                        <i class="fas fa-caret-right"></i> Empleados
                      </button>
                    </p>
                  </div>
                  <div id="collapseEmpleados" class="collapse" aria-labelledby="headingEmpleados" data-parent="#accordionFiltros">
                    <div *ngIf="filter == 'empleados'">
                      <div *ngFor="let filtro of filtrosOpen;" id="{{filtro.div}}" class="card-body"> </div>
                    </div>
                  </div>
                </div>

              </div>

        </div>
    </div>

</div>