/* FILTROS QLIK*/
#sidebar .title-wrapper{
    color: white !important;
    line-height: 16px;
    border: none !important;
}
/* Fuente del filtro */
#sidebar .qv-collapsed-listbox .title-wrapper .title {
    font-size: 12px !important;
    font-weight: normal !important;
}
#sidebar .qv-collapsed-listbox {
    height: 24px;
    background-color: #1c82a8;
    border: none !important;
}
#sidebar .qv-collapsed-listbox .qv-state-count-bar {
    border: none !important;
    display: none;
}
#sidebar .qv-collapsed-listbox {
    border: none;
}
#sidebar .qv-filterpane.qv-filterpane-scrollable {
    overflow: hidden !important;
}



/* PESTAÑAS*/

.contenedor{
    margin: 25px;
    margin-top: 10px;
}

.form-check{
    display: inline-flex;
    margin-right: 6px;
}
.form-check-input{
    margin-top: .2rem;
}

.graficas label{
    color: black; 
    font-size: 1.3em; 
    font-weight: bold;
}

.grafica{
    height: 37em;
}
.cifras{
    height: 1.9em; 
    font-size: 1.18em !important; 
    padding: 0; 
    text-align: center;
}

.cantidades{
    font-weight: bold;
    color: black !important;
}

.graficas span{
    font-size: 1.1em; 
    font-weight: bold;
    text-align: left;
}

.icons-graf i{
    color: rgb(200, 200, 200);
}
.icons-graf i:hover{
    cursor: pointer;
    background-color: rgb(240, 240, 240);
    padding: 4px;
}

.medias{
    font-size:1.1em !important;
    color: black; 
}

.panel-xl{
    top: 121px;
    z-index: 2;
    position:  fixed;
    background: rgb(255, 255, 255);

    width: 100% !important;
    height: 100%;
    left: 0;
    bottom: 0;
    right: 0;
    
    transition: 0.5s;

    padding-left: 225px;
    padding-right: 15px;
}

@media (max-width: 992px) {
    .panel-xl{
        top: 46px;
    } 
} 
/* FIN PESTAÑAS*/



.dimensiones{
    padding: 8px 0 0 15px;
}
.btnDimension{
    font-weight: bold;
    height: 40px;
    font-size: 13px;
    color: black;
    background-color: rgb(240, 240, 240);
    border: none;
    border-right: 2px solid white;
    border-radius: 2px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.btnDimension:hover{
    border-right: 2px solid white;
    background-color: rgb(197, 197, 197);
    color: black;

}
.btnactive, .btnactive:focus{
    background-color: rgb(38, 144, 183) !important;
    box-shadow: none !important;
    color: white !important;
}
.segundaLineaBtns{
    padding-top: 12px;
    max-width: 795px;
}

.btnSegundaLinea{
    min-width: 100px;
    font-weight: bold;
    height: 40px;
    font-size: 13px;
    color: black;
    background-color: rgb(240, 240, 240);
    border: none;
    border-radius: 2px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.btnSegundaLinea:hover{
    background-color: rgb(197, 197, 197);
    color: black;
}
.btnSegundaLinea:disabled:hover{
    background-color: rgb(240, 240, 240);
}


.disabled-button, .disabled-button:hover{
    background-color: rgb(240, 240, 240) !important;
    opacity: 0.5 !important;
    cursor:default !important;
} 
.disabled-dropdown{
    display: none !important;
}
.dimensiones .dropdown-item{
    cursor: pointer;
}
.dimensiones .dropdown-item:active, .dimensiones .dropdown-item:hover{
    background-color: rgb(38, 144, 183);
    color: white;
    display: block !important;
}

.dimensiones button:active, .dimensiones button:focus{
    box-shadow: none !important;
}
.btn:focus{
    box-shadow: none !important;

}

.form-check-label, .form-check-input{
    cursor: pointer;
}
/* Dropdown menu dimensiones */
.dimensiones .dropdown .dropdown-menu{ display: none; }
.dimensiones .dropdown:hover .dropdown-menu{ display: block; margin-top: 15px;}
.dropdown-menu{
    top: 90% !important;
}

/* Slider porcentaje------------------------------- */
.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 16px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 28px;
    width: 28px;
    left: 0px;
    bottom: -5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border: solid 1px rgb(188, 188, 188);
}

input:checked+.slider {
    background-color: rgb(38, 144, 183);
}

input:focus+.slider {
    box-shadow: 0 0 1px rgb(188, 188, 188);
}

input:checked+.slider:before {
    -ms-transform: translateX(23px);
    transform: translateX(23px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.porcentajeLabel{
    padding-left:10px; 
    font-weight: bold;
}

/* FIN Slider porcentaje------------------------------------ */



/* MODAL------------------------------ */
.bi-exclamation-circle{
    color: #F8BA31;
    margin-top: 1em !important;
    margin-bottom: 1em !important;
    margin-left: 19em !important;
    display: block;
  }
  
  .primary-modal-button{
    background-color: #2999D8 !important;
    border: 1px solid  !important;
    margin-right: 40%;
  }
  .secondary-modal-button{
    background-color: white;
    color: #2999D8;
    border: 1px solid #2999D8 !important;
    margin-right: 10%;
  }
  .modal-footer, .modal-header{
    border: none !important;
  }
  .modal-footer{
    margin-bottom: 2em;
  }
  
  .modal-content{
    margin-left: -5em;
    width: 45em;
    background-color: white !important;
  }
  .primary-modal-button:hover{
    background-color: white !important;
    color: #2999D8 !important;
    border: 1px solid #2999D8 !important;
    margin-right: 40%;
  }
  .secondary-modal-button:hover{
    background-color: #2999D8;
    color: white !important;
    border: none;
    margin-right: 10%;
  }
  
  .modal .modal-title{
    border: none;
    display: block;
    font-size: x-large;
    margin: auto;
    background-color: white;
    width: 100%;
  }
  .modal .modal-body{
    border: none;
    display: block;
    margin: auto;
    background-color: white;
    width: 100%;
  }
.modal{
    top: 10%;
    z-index: 2000;
    position: fixed !important;
}

.alert-warning{
    position: absolute;
    top: 700px;
    width: 60%;
    z-index: 2000;
    margin-left: 25%;
    display: none;
}
/* FIN MODAL------------------------------ */

select:checked, option::selection{
    background-color:#1e90ff !important;
}

/*  BUSCADOR QLIK------------------------------ */

.qv-global-search .qv-global-search-dimmer {
    height: auto !important;
}
.qv-global-search {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.qv-global-selections-enabled .qv-global-selections {
    z-index: 2;
    width: calc(100% - 225px);
    height: calc(100% - 145px) !important;
    position: fixed;
    margin-left: 225px;
    margin-top: 110px;
    overflow-y: hidden;
    overflow-x: scroll;
    
    transition: 0.5s;
}

/* Estilo para los filtros calendario y meses */
#calendario_barra{
    height: 5em; 
    max-width: 840px;
    box-shadow: none !important;
}
#calendario_escoger{
    margin-left:20px; 
    height: 5em;
    width: 7em;
}
.border{
    border:none !important
  }
.qv-object-wrapper.ng-scope.ng-isolate-scope{
    z-index: 1;
}
/* Estilo para el icono calendar del filtro calendar */
i.fa.fa-calendar{
    font-family: 'Font Awesome 5 Free' !important;
}



.noRight{
    color: #1c82a8;
    font-size: 1.2em;
    font-weight: bold;
    padding-top: 1.5em;
    border-top: 1px solid rgb(194, 194, 194);
}
.noRightBottom{
    height: 610px;
}

/* Tabla dinamica */
.tablaDinamica{
    height: calc(100vh - 224px);
}
/* styles para nuevo styles-qlik */
@media only screen and (min-device-width: 1025px){

    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #b3b3b3;
    }
    ::-webkit-scrollbar-track {
        border-radius: 10px;
    }
}