/* FILTROS QLIK*/
.title-wrapper{
    color: white !important;
    line-height: 16px;
    border: none !important;
}
/* Fuente del filtro */
.qv-collapsed-listbox .title-wrapper .title {
    font-size: 12px !important;
    font-weight: normal !important;
}
.qv-collapsed-listbox {
    height: 24px;
    background-color: #1c82a8;
    border: none !important;
}
.qv-collapsed-listbox .qv-state-count-bar {
    border: none !important;
    display: none;
}
.qv-collapsed-listbox {
    border: none;
} 


/* PESTAÑAS*/

.contenedor{
    margin: 25px;
    margin-top: 10px;
}

.form-check{
    display: inline-flex;
    margin-right: 6px;
}
.graficas label{
    color: black; 
    font-size: 1.3em; 
    font-weight: bold;
}

.grafica{
    height: 37em;
}
.cifras{
    height: 1.9em; 
    font-size: 1.18em !important; 
    padding: 0; 
    text-align: center;
}

.cantidades{
    font-weight: bold;
    color: black !important;
}

.graficas span{
    font-size: 1.1em; 
    font-weight: bold;
    text-align: left;
}

.icons-graf i{
    color: rgb(200, 200, 200);
}
.icons-graf i:hover{
    cursor: pointer;
    background-color: rgb(240, 240, 240);
    padding: 4px;
}

.medias{
    font-size:1.1em !important;
    color: black; 
}

.panel-xl{
    top: 161px;
    z-index: 2;
    position:  fixed;
    background: rgb(255, 255, 255);

    width: 100% !important;
    height: 100%;
    left: 0;
    bottom: 0;
    right: 0;
    
    transition: 0.5s;

    padding-left: 225px;
    padding-right: 15px;


}

@media (max-width: 992px) {
    .panel-xl{
        top: 46px;
    } 
} 
/* FIN PESTAÑAS*/



.dimensiones{
    padding: 8px 0 0 30px;
}
.btnDimension{
    font-weight: bold;
    height: 40px;
    font-size: 13px;
    color: black;
    background-color: rgb(240, 240, 240);
    border: none;
    border-right: 2px solid white;
    border-radius: 2px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.btnDimension:hover{
    border-right: 2px solid white;
    background-color: rgb(197, 197, 197);
    color: black;

}
.btnactive, .btnactive:focus{
    background-color: rgb(38, 144, 183) !important;
    box-shadow: none !important;
    color: white !important;
}
.segundaLineaBtns{
    padding-top: 12px;
    padding-left: 15px;
}

.btnSegundaLinea{
    min-width: 100px;
    font-weight: bold;
    height: 30px;
    font-size: 13px;
    color: black;
    background-color: rgb(240, 240, 240);
    border: none;
    border-radius: 2px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.btnSegundaLinea:hover{
    background-color: rgb(197, 197, 197);
    color: black;
}
.btnSegundaLinea:disabled:hover{
    background-color: rgb(240, 240, 240);
}


/* .disabled-button, .disabled-button:hover{
    background-color: rgb(240, 240, 240);
    opacity: 50%;
} */
.dimensiones .dropdown-item{
    cursor: pointer;
}
.dimensiones .dropdown-item:active, .dimensiones .dropdown-item:hover{
    background-color: rgb(38, 144, 183);
    color: white;
}

.dimensiones button:active, .dimensiones button:focus{
    box-shadow: none !important;
}
.btn:focus{
    box-shadow: none !important;

}

/* Dropdown menu dimensiones */
.dimensiones .dropdown .dropdown-menu{ display: none; }
.dimensiones .dropdown:hover .dropdown-menu{ display: block; margin-top: 15px;}


/* Slider porcentaje------------------------------- */
.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 16px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 28px;
    width: 28px;
    left: 0px;
    bottom: -5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border: solid 1px rgb(188, 188, 188);
}

input:checked+.slider {
    background-color: rgb(38, 144, 183);
}

input:focus+.slider {
    box-shadow: 0 0 1px rgb(188, 188, 188);
}

input:checked+.slider:before {
    -ms-transform: translateX(23px);
    transform: translateX(23px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.porcentajeLabel{
    padding-left:10px; 
    font-weight: bold;
}

/* FIN Slider porcentaje------------------------------------ */